! 
interface {{ interface }}
 description [ {{ hostname }} port {{ link }} {{ comment }} ]
 no  switchport
 ip address {{ipv4}} {{ipv4_mask}}
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 ip pim sparse-mode
 no shutdown
  