!
router bgp {{localas}}
 bgp router-id {{router_id}}
 bgp log-neighbor-changes
 neighbor {{neighbor_ip}} remote-as {{remote_as}}
 neighbor {{neighbor_ip}} description {{neighbor_desc}}
 neighbor {{neighbor_ip}} password 7 {{bgp_pw}}
 !
 address-family ipv4
  redistribute connected route-map RM-CONNECTED-TO-BGP
  redistribute static route-map RM-STATIC-TO-BGP
  neighbor {{neighbor_ip}} activate
  neighbor {{neighbor_ip}} next-hop-self
  neighbor {{neighbor_ip}} soft-reconfiguration inbound
  {% if rm_inbound != "" %}
  neighbor {{neighbor_ip}} route-map {{rm_inbound}} in
  {%endif%}
  {% if rm_inbound != "" %}
  neighbor {{neighbor_ip}} route-map {{rm_outbound}} out
  {%endif%}
 exit-address-family
 !
 address-family ipv6
  redistribute connected route-map RM-CONNECTED-V6-TO-BGP
  redistribute static route-map RM-STATIC-V6-TO-BGP
  neighbor {{neighbor_ip}} activate
  neighbor {{neighbor_ip}} next-hop-self
  neighbor {{neighbor_ip}} soft-reconfiguration inbound
  neighbor {{neighbor_ip}} route-map {{rm_v6_inbound}} in
  neighbor {{neighbor_ip}} route-map {{rm_v6_outbound}} out
 exit-address-family
!