!VLAN Database
 vlan {{vlan}}
{% if vlanType == 1 %}
 name [{{name}}_Pri]
{% elif vlanType == 2 %}  name [{{name}}_Iso]
{% elif vlanType == 3 %}  name [{{name}}_Comm]
{%else%}
 name [{{name}}]
 {%endif%}
{% if fpmode == 1 %} mode fabricpath 
{% endif %}
{% if vlanType == 1 %}private-vlan primary 
private-vlan assocation {{vlan_assoc}}
{% elif vlanType == 2 %} private-vlan isolated {% elif vlanType == 3 %} private-vlan community
{% endif %}
